@import '../abstract/variaveis';

.imagem-inicial {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.img-cards {
  height: 150px;
  object-fit: cover;
}

.img-cards-diminuida {
  height: 150px;
  width: 130px;
}