@import '../abstract/variaveis';


.titulo-do-projeto {
  font-size: 30px;
  color: $black;
  margin-right: 60px;
}

.links {
  font-weight: bold;
  text-decoration: none;
  color: $black !important;
  text-transform: uppercase;
  font-size: 15px;
  margin-right: 20px;
  
  &:hover {
    border-bottom: 2px solid $white;
    color: $white !important;
  }
}

.nav-apresentacao {
  background-color: $cor-primaria !important;
}

.menu-lateral {
  background-color: $cor-primaria;
  width: 100px;
  height: 100%;
  padding: 10px;
}

.centralizando-menu-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-menu-lareal {
  text-decoration: none;
  font-size: 13.5px;
  color:  $black !important;
  margin-top: 10px;

  &:hover {
    border-bottom: 2px solid $white;
    color: $white !important;
  }
}