@import '../abstract/variaveis';


.titulo-do-projeto {
  font-size: 30px;
  color: $black;
  margin-right: 60px;

  @media (max-width: 375px) {
    //diminuindo a fonte do titulo do projeto quando a tela for menor que 375px
    font-size: 20px;
    color: $black;
  }
}

.links {
  font-weight: bold;
  text-decoration: none;
  color: $black !important;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 20px;
  
  &:hover {
    border-bottom: 2px solid $white;
    color: $white !important;
  }
}

.nav-apresentacao {
  background-color: $cor-primaria !important;
}

.menu-lateral {
  margin: 10px;
  height: 800px;
  border: 1px solid $cor-primaria;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.centralizando-menu-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-menu-lareal {
  text-decoration: none;
  border-radius: 5px;
  font-size: 13.5px;
  color:  $cor-primaria !important;
  margin-top: 20px;
  border: 1px solid $cor-primaria;
  padding: 10px;

  &:hover {
    color: $white !important;
    background-color: $cor-primaria;
    border-radius: 5px;
  }
}